@import "tailwindcss";
@font-face {
  font-family: 'ComicRelief';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ComicRelief-Regular.ttf') format('truetype'),
       url('./fonts/ComicRelief-Bold.ttf') format('truetype');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-image: url('./img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    'ComicRelief',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottle-container {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
}

.bottle-container-configurator {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 1160px;
  top: 250px;
  margin: 0 auto;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.custom-pill-btn {
  position: relative;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: rgb(132, 190, 135);
  border: 0px;
  padding: 5px 50px;
  cursor: pointer;
  height: 65px;
  width: auto;
  display: inline-block;
}

.custom-pill-btn:hover {
  background-color: rgb(110, 160, 115);
  transition: all 0.3s ease;
}

.custom-step-btn {
  position: relative;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: rgb(132, 190, 135);
  border: 0px;
  padding: 5px 50px;
  height: 65px;
  width: auto;
  display: inline-block;
}

button {
  z-index: 10;
}

button[style*="border"]:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
