@import "tailwindcss";
@font-face {
  font-family: 'ComicRelief';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ComicRelief-Regular.ttf') format('truetype'),
       url('./fonts/ComicRelief-Bold.ttf') format('truetype');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-image: url('./img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    'ComicRelief',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
