.custom-step-btn[disabled] {
  cursor: default !important;
}
@import "tailwindcss";
@font-face {
  font-family: 'ComicRelief';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ComicRelief-Regular.ttf') format('truetype'),
       url('./fonts/ComicRelief-Bold.ttf') format('truetype');
  font-display: swap;
}

*,
*::before,
*::after {
  @apply box-border m-0 font-normal;
}

body {
  background-image: url('./img/background.png');
  @apply bg-cover bg-center bg-no-repeat leading-relaxed font-sans;
  font-family:
    'ComicRelief',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-5xl font-bold text-center pt-10 pb-6
}

.h1Configurator {
  @apply text-5xl font-bold text-center pb-2 pt-10 w-5xl;
}
.h2Configurator { 
  @apply text-5xl font-bold text-center pt-10 w-5xl ;
}

.bottle-container {
  @apply relative mx-auto w-88 h-128;
}

.layer {
  @apply absolute top-0 left-0 w-full;
}
.custom-pill-btn {
  @apply relative rounded-full text-2xl font-extrabold text-white bg-[rgb(132,190,135)] border-0 px-12 py-1.5 cursor-pointer h-16 inline-block;
}

.custom-pill-btn:hover {
  @apply bg-[rgb(110,160,115)] transition-all duration-300 ease-in-out;
}

.custom-step-btn {
  @apply relative rounded-full text-2xl font-extrabold text-white bg-[rgb(132,190,135)] border-0 px-12 py-1.5 cursor-pointer h-16 inline-block;
}

.custom-pill-btn-reset {
  @apply relative rounded-full text-2xl font-extrabold text-white bg-[rgb(192,192,192)] border-0 px-12 py-1.5 cursor-pointer h-16 inline-block;
}

.custom-pill-btn-reset:hover {
  @apply bg-[rgb(160,160,160)] transition-all duration-300 ease-in-out;
}

button {
  @apply z-10;
}

button.rounded-full {
  @apply cursor-pointer;
}
