@import "tailwindcss";
@import './base.css';

#app {
  @apply flex flex-col max-w-7xl w-full mx-auto min-h-screen;
}

#app > .router-view {
  @apply flex-1;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
} */
