@import "tailwindcss";
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
} */
